.card-main {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-top: 2.4rem;
}

.card {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 18vw;
  aspect-ratio: 3/4;
  cursor: grab;
  position: relative;
  text-align: center;
  border-radius: 20px;
  box-shadow: 5px 5px 20px #cfcdcd50, -5px -5px 15px #ffffff10;
}
.red:before {
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    rgb(216, 154, 154) 50%,
    rgba(255, 0, 78, 1) 75%,
    rgba(255, 0, 0, 1) 99%
  );
  position: absolute;
  background-position: 0% 0%;
  background-size: 300% 300%;
  content: "";
  height: 90%;
  width: 100%;
  transition: background-position 1s ease, transform 1s ease;
}
.blue:before {
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    rgb(182, 182, 182) 50%,
    rgb(139, 147, 161) 75%,
    rgba(0, 194, 255, 1) 100%
  );
  position: absolute;
  background-position: 0% 0%;
  background-size: 300% 300%;
  content: "";
  height: 90%;
  width: 100%;
  transition: background-position 1s ease, transform 1s ease;
}
.yellow:before {
  border-radius: 20px;
  background: linear-gradient(
    135deg,
    rgb(143, 139, 108) 50%,
    rgba(255, 201, 0, 1) 75%,
    rgba(255, 119, 0, 1) 99%
  );
  position: absolute;
  background-position: 0% 0%;
  background-size: 300% 300%;
  content: "";
  height: 90%;
  width: 100%;
  transition: background-position 1s ease, transform 1s ease;
}
.card:hover:before {
  background-position: 100% 100%;
}
.card h1 {
  margin-top: 50px;
  font-family: roboto, sans-serif;
  font-weight: 100;
  position: relative;
  z-index: 1;
  color: white;
  font-size: 3vw;
  padding: 20px;
}
.card h1 > span {
  font-size: 20px;
}
