.about,.contact {
  .text-zone ,.contact{
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-58%);
    width: 40%;
    max-height: 90%;
  }

  h1 {
    font-size: 53px;
    margin: 0;
    font-family: var(--thirdFont);
    font-weight: 400;
    color: var(--primaryColor);

    &::before {
      content: '<h1>';
      font-family: var(--secondaryFont);
      color: var(--primaryColor);
      font-size: 18px;
      position: absolute;
      margin-top: -10px;
      left: -10px;
      opacity: 0.6;
      line-height: 10px;
    }
    &::after {
      content: '</h1>';
      font-family: var(--secondaryFont);
      font-size: 18px;
      color: var(--primaryColor);
      position: absolute;
      line-height: 10px;
      bottom: -20px;
      left: -18px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }
  }
}
p {
  font-size: 16px;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  min-width: fit-content;
  animation: pulse 1s;

  &:nth-child(1) {
    animation-delay: 1.5s;
  }
  &:nth-child(2) {
    animation-delay: 1.6s;
  }
}
.text-animate-hover {
  &:hover {
    color: #fff;
  }
}

.stage-cube-cont {
  width: 50%;
  right: 0;
  overflow: hidden;
  height: 100vh;
  top: 0;
  padding-top: 18%;
  margin-left: 0;
  position: absolute;
}

.cubespinner {
  animation-name: spinecube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  margin-left: calc(50% - 100px);
  
  div {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.4);
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: 0 0 20px 0px lightyellow;
  }
  .face1{
    transform: translateZ(100px);
  }
  .face2{
    transform: rotateY(90deg) translateZ(100px);
  }
  .face3{
    transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
  }
  .face4{
    transform: translateY(0px) rotateZ(90deg) translateZ(-100px);
  }
  .face5{
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
  }
  .face6{
    transform:rotateX(-90deg) translateZ(100px);
  }
}
@keyframes spinecube {
  from,
  to {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  16% {
    transform: rotateY(-90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateZ(90);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateZ(90deg);
  }
  83% {
    transform: rotateX(90deg) rotateZ(90deg);
  }
}
